.cart-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 5px;
}

.cart-item-list {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 30%;
    background-color: white;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
}

.cart-total-item {
    margin-bottom: 0px;
    font-size: 0.9em;
}

.cart-total-price {
    text-align: right;
    margin-top: 0;
}

.cart-title {
    margin-bottom: 0px;
}

.cart-total-value {
    text-align: right;
}

hr {
    width: 100%;
    margin: 0;
}

.empty-cart {
    background-color: white;
    padding: 50px 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

@media (max-width: 850px) {
    .cart-content {
        flex-direction: column;
        gap: 20px;
    }
}

