.cart-card {
    display: flex;
    max-height: 300px;
    background-color: white;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
}

.left-wrapper {
    display: flex;
    gap: 40px;
}

.cart-card-img {
    max-height: 180px;
    width: auto;
    align-self: center;
}

.product-text-wrapper {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.product-title {
    font-size: 1.4em;
    text-transform: capitalize;
}

.product-description {
    font-size: 0.9em;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.right-bot-row {
    display: flex;
    align-items: flex-end;
}

.right-top-row {
    display: flex;
    justify-content: end;
}

.del-btn {
    background-color: rgb(226, 226, 226);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.del-cart {
    height: 20px;
}

.del-btn:hover, .del-btn:focus {
    border: 1px solid rgb(131, 29, 29);
    outline: 0;
}

.product-price {
    font-size: 1.4em;

}