.cart-card {
    display: flex;
    max-height: 300px;
    background-color: white;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
}

.left-wrapper {
    display: flex;
    gap: 40px;
}

.cart-card-img-wrapper {
    max-width: 200px;
    width: auto;
}

.cart-card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-text-wrapper {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.product-title {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 0;
}

.product-description {
    font-size: 0.85em;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.right-bot-row {
    display: flex;
    align-items: flex-end;
}

.right-top-row {
    display: flex;
    justify-content: end;
}

.del-btn {
    background-color: rgb(226, 226, 226);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.del-cart {
    height: 20px;
}

.del-btn:hover, .del-btn:focus {
    border: 1px solid rgb(131, 29, 29);
    outline: 0;
}

.product-price {
    font-size: 1.4em;
}


@media (max-width: 750px) {
    .product-title {
        font-size: 1.1em;
    }

    .product-description {
        font-size: 0.75em;
    }

    .product-price {
        font-size: 1.2em;
    }

    .del-btn {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }

    .del-cart {
        height: 15px;
    }

    .right-bot-row > .qtt-input {
        height: 30px;
        font-size: 1.0em;
        width: 40px;
    }

    .right-bot-row > .plusminus-btn {
        padding: 8px 5px;
    }

    .right-bot-row > .plusminus-cart {
        height: 15px;
    }

}

@media (max-width: 600px) {
    .cart-card {
        flex-direction: column;
        display: flex;
        max-height: 400px;
    }

    .right-wrapper {
        flex-direction: row;
        padding-right: 20px;
    }

    .right-top-row {
        display: flex;
        justify-content: end;
    }

    .product-price {
        margin-bottom: 0;
    }
}