.home-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(199, 199, 199);
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.home-img-container {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(199, 199, 199);
  margin-bottom: 20px;
}

.home-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.home-welcome {
  font-size: 1.2em;
}

.home-shop-btn {
  align-self: flex-end;
  padding: 10px 20px;
  color: white;
  background: #2a9b41;
  background: linear-gradient(9deg,rgba(42, 155, 65, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(64, 196, 27, 1) 100%);
  border-radius: 15px;
  font-weight: bold;
}

.home-shop-btn:hover {
  color: white;
  background: var(--main-green-color);
}