@font-face {
  font-family: 'knewave';
  src: local('knewave'), url(../assets/knewave.woff2) format('woff2');
}

.top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
}

.bar-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 1200px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-logo {
    height: 60%;
}

.text-logo {
    font-family: 'knewave';
    color: white;
    font-weight: bold;
    font-size: 1.8em;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-item:hover {
    color: white;
    background-color: greenyellow;
}