@font-face {
  font-family: 'knewave';
  src: local('knewave'), url(../assets/knewave.woff2) format('woff2');
}

.top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
    background: #2a9b41;
    background: linear-gradient(9deg,rgba(42, 155, 65, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(64, 196, 27, 1) 100%);
}

.bar-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 1500px;
    padding: 0px 100px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-logo {
    height: 60%;
}

.text-logo {
    font-family: 'knewave';
    color: white;
    font-weight: bold;
    font-size: 1.8em;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-item, .nav-menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    box-sizing: border-box;
}

.nav-item:hover, .nav-menu:hover {
    color: white;
    background-color: var(--main-green-color)
}

.nav-selected {
    border-bottom: 4px solid white;
}

.cart-qtt {
    font-size: 0.7em;
    margin-left: 5px;
    background: #a13737;
    border: 2px solid white;
    border-radius: 30px;
    padding: 3px 10px;
    margin-top: 0;
}

.nav-menu {
    display: none;
}

.menu-icon {
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
}



@media (max-width: 1200px) {
    .bar-wrapper {
        padding: 0px 40px;
    }
}

@media (max-width: 850px) {
    .top-bar {
        height: 60px;
    }

    .bar-wrapper {
        padding: 0px 20px;
    }

    .nav-item {
        padding: 0 30px;
        font-size: 1.0em;
    }

    .cart-qtt {
        font-size: 0.6em;
        padding: 3px 8px;
    }
}

@media (max-width: 750px) {
    .text-logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .nav-item {
        display: none;
    }

    .nav-menu {
        display: flex;
        padding: 0 20px 0 20px;
    }

    .nav-bar.responsive {
        position: relative;
        flex-direction: column;
        width: 180px;
    }

    .nav-bar.responsive .nav-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-bar.responsive .nav-item:first-child {
        margin-top: 60px;
    }
    
    .nav-bar.responsive .nav-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #2a9b41;
        z-index: 9;
    }

    .nav-selected {
        border-bottom: 0;
        background-color: gray !important;
    }

}