@font-face {
  font-family: 'knewave';
  src: local('knewave'), url(../assets/knewave.woff2) format('woff2');
}

.top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
    background: #2a9b41;
    background: linear-gradient(9deg,rgba(42, 155, 65, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(64, 196, 27, 1) 100%);
}

.bar-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 1500px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-logo {
    height: 60%;
}

.text-logo {
    font-family: 'knewave';
    color: white;
    font-weight: bold;
    font-size: 1.8em;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    box-sizing: border-box;
}

.nav-item:hover {
    color: white;
    background-color: var(--main-green-color)
}

.nav-selected {
    border-bottom: 4px solid white;
}