.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-evenly;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.shop-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.filter-bar {
    min-width: 280px;
    margin-top: 20px;
    background-color: rgb(241, 241, 241);
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
}

.filter-title {
    margin: 0;
}

@media (max-width: 1500px) {
    .shop-wrapper {
        gap: 10px;
        padding: 30px 20px;
    }
}

@media (max-width: 1000px) {
    .shop-wrapper {
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .filter-bar {
        width: 90%;
        margin-top: 20px;
        padding: 30px;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .filter-title {
        display: none;
    }
}